.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.title {
  width: 100%;
  margin: 2.5em 0 0.5em;
  font-weight: 700;
  font-size: 1.5em;
}
