.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.constructor {
  width: 566px;
  height: 656px;
  overflow-x: auto;
  white-space: nowrap;
}
