.feed_item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 584px;
  padding: 24px;

  /* background: var(--background); */
  border: 1px solid red;
  border-radius: 16px;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feed_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 16px;
}

/* .feed_description {
  display: flex;
} */

.feed_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-right: 16px;
}
