.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.title {
  text-align: center;
}

.form {
  display: contents;
}
