.block {
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 39em;
  height: 27.69em;
  padding: 3em;
  background: var(--background);
  border: 2px solid var(--colors-interface-accent);
  border-radius: 1em;
}

.title {
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.5em;
}

.subtitle {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.875em;
}

.image {
  width: 100%;
  max-width: 30em;
  height: 15em;
  object-fit: cover;
}

.details {
  display: flex;
  align-items: center;
  gap: 1.25em;
  margin-top: 1em;
}

.ingredients {
  font-size: 1em;
  line-height: 1.5em;
}
